<footer class="fixed-bottom bg-dark bg-gradient text-center py-3">
    <div class="container-fluid">
        <small class="text-light">
            &copy; 2024 – BreachExplorer –
            <a href="https://haveibeenpwned.com/API/v3"
               target="_blank"
               class="link-light text-decoration-none">
                HaveIBeenPwned.com API
            </a> –
            <a href="https://api-ninjas.com/api"
               target="_blank"
               class="link-light text-decoration-none">
                Api-ninjas.com API
            </a>
        </small>
    </div>
</footer>
