<footer class="bot footer text-muted bg-dark bg-gradient" style="z-index: 9999;">
    <div class="container text-light">
        &copy; 2024 - BreachExplorer - <a class="text-decoration-none" href="https://haveibeenpwned.com/API/v3" target="_blank">Haveibeenpwned.com API</a> - <a class="text-decoration-none" href="https://api-ninjas.com/api" target="_blank">Api-ninjas.com API</a>
    </div>
</footer>