<footer class="bot footer text-muted bg-dark bg-gradient">
    <div class="container text-light">
        &copy; 2024 - BreachExplorer - <NavLink class="text-decoration-none" href="privacy">  Privacy</NavLink>
    </div>
</footer>