<div>
    <nav class="bg-dark table-bordered">
        <div class="container bg-dark bg-gradient rounded-pill">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-2">
                <NavLink class="image-hover d-flex align-items-center me-md-auto link-body-emphasis text-decoration-none" href="" Match="NavLinkMatch.All">
                    <svg class="image-hover zoom-in-out-element" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" width="50px" height="50px">
                        <use xlink:href="/images/Logo.svg#logo"></use>
                    </svg>
                    <span class="fs-4 fw-bold text-light">BreachExplorer</span>
                </NavLink>
                <ul class="nav nav-pills align-items-center">
                    <li class="nav-item">
                        <NavLink class="text-decoration-none nav-link fw-bold fs-6" href="" Match="NavLinkMatch.All">
                            Home
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="text-decoration-none nav-link fw-bold fs-6" href="breached">
                            Was I Breached?
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="text-decoration-none nav-link fw-bold fs-6" href="about">
                            About
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="text-decoration-none nav-link fw-bold fs-6" href="privacy">
                            Privacy
                        </NavLink>
                    </li>
                </ul>
            </header>
        </div>
    </nav>
</div>