.custom-gray-bg {
    background-color: rgb(44, 48, 53);
}

/*Typing animation*/
.typing-container {
    display: inline-block;
    position: relative;
}

.typing-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid blueviolet;
    font-family: 'Segoe MDL2 Assets';
    margin-bottom: 0px;
    padding-right: 0.2ch;
    color: blueviolet;
    font-size: 2.3rem;
    position: relative;
    animation: typing 2s steps(37), blink 0.5s step-end infinite alternate;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #3333);
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {

    0% {
        width: 0ch;
    }

    100% {
        width: 37ch;
    }
}

/*Neon-style text*/
.neon {
    color: purple;
    text-shadow: 0px 0px 6px blueviolet;
}

/*Deep-shadow text*/
.deepshd {
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

/*Text-red-style shadow*/
.style-red-1 {
    color: red;
    letter-spacing: .1em;
    font-family: 'Segoe MDL2 Assets';
    text-shadow: -2px -2px 7px red, 2px 2px 1px #363636;
}

@media (max-width: 991.5px) {
    html {
        font-size: 16px;
    }

    .typing-text {
        font-size: 1.3rem;
        word-wrap: break-word;
    }
}
