@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="text-align: center;">
    <h2 class="neon typing-container text-center fs-1 text-uppercase">
        <span class="typing-text">Make sure everyone arround you is safe! </span>
    </h2>
</div>

<div class="container-fluid pb-3">
    <div class="d-grid gap-3" style="grid-template-columns: 2fr 2fr;">
        <div class="custom-gray-bg border border-secondary rounded-3">
            <div class="d-flex justify-content-center">
                <a class="text-danger text-nowrap text-decoration-none fw-bold fs-4">Recent data breaches</a>
            </div>
        </div>
        <div class="custom-gray-bg border border-secondary rounded-3 bg-image hover-zoom">
            test
        </div>
    </div>
</div>
