@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-white">Empty</h1>
</div>

<div class="container-fluid pb-3">
    <div class="d-grid gap-3" style="grid-template-columns: 2fr 2fr;">
        <div class="custom-gray-bg border border-secondary rounded-3">
            <br><br><br><br><
        </div>
        <div class="custom-gray-bg border border-secondary rounded-3 bg-image hover-zoom">
            test
        </div>
    </div>
</div>
